# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]

# ----------------------------
# Virtual Environment
# ----------------------------
.venv/
venv/

# ----------------------------
# macOS
# ----------------------------
.DS_Store

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Environment Variables
# ----------------------------
.env